body {
	background-color: #181332;
	background-size: cover;
	margin: 0;
}

h1 {
	font-family: "Courier New", Courier, monospace;
	color: #BFCFDA;	
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	font-size: 200px;
}

p {
	font-family: "Courier New", Courier, monospace;
	color: #BFCFDA;
	padding: 10px;
}

a {
	font-family: "Courier New", Courier, monospace;
	color: #BFCFDA;
	font-weight: bold;
}

nav {
	font-family: "Courier New", Courier, monospace;
	background-color: #0f0c1f;
	padding: 15px;
}